body {
    background: rgb(85, 144, 189);
     background: linear-gradient(90deg,

    rgba(85, 144, 189, 1) 0%,
    rgba(108, 183, 240, 1) 54%,
    rgba(182, 216, 242, 1) 82%
  );
}
.pokemon-block {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
   
  .img-container {
    background-color: rgb(237, 223, 223);
    
    }

 

      h1 {
          text-align: center;
          padding-bottom: 30px;
          padding-top: 30px;
          font-family: sans-serif
        }
    
        .pokemon-block p {
            margin: 5px;
          }
